:root {
  --nalunsgreen: #88A07E;
  --nalunsclay: #CF9173;
  --nalunsyellow: #D2B569;
  --nalunsbraun: #B0A294;

  --font-big: 120px;
  --font-title: 70px;
  --font-text-big: 34px;
  --font-text-small: 21px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
body.fixed {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*----------------------------------
  Font
-----------------------------------*/
h1, h2, h3, p, a, li, figcaption, button, .accordion {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: var(--font-text-small);
  color: white;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.25px;
  line-height: 1.3;
  text-decoration: none;
  hyphens: auto;
  -webkit-hyphens: auto; 
  -ms-hyphens: auto; 
}

h1, h2, p, figcaption {margin: 0 30px;}
p {padding: 20px 0;}

h1.big {
  font-size: var(--font-big);
  line-height: 0.9;
  letter-spacing: -5px;
  padding-bottom: 12px;
  margin: 0;
}

.font-title {
  font-size: var(--font-title);
  line-height: 0.9;
}
.font-text-big {
  font-size: var(--font-text-big);
  line-height: 1.2;
  padding: 30px 0 ;
}


li {list-style: none;}
li a {font-size: var(--font-title);}

a {cursor: pointer;}

button {
  background-color: white;
  color: var(--nalunsbraun);
  padding: 10px 15px;
  border: none;
  transition: padding 0.3s ease-in-out;
}
button:hover {
  padding: 10px 20px;
}


.break-word {
  word-wrap: break-word;
}

/*----------------------------------
  Basic
-----------------------------------*/
section {
  margin: 0 auto;
  max-width: 2000px;
  padding: 0 50px;
  position: relative;
  z-index: 2;
}

.green{ background-color: var(--nalunsgreen);}
.clay{ background-color: var(--nalunsclay);}
.yellow{ background-color: var(--nalunsyellow);}
.braun{ background-color: var(--nalunsbraun);}

.fadein { 
  transform: translateY(100px);
  transition: transform 1s;
  will-change: transform;
}

/*----------------------------------
  Header
-----------------------------------*/
header {
  margin: 30px auto;
  padding: 0 50px;
  max-width: 2000px;
}
header a {
  width: 400px;
  padding: 0 30px;
  display: block;
  font-size: var(--font-text-small);
}
.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 50px 0;
  padding: 0 30px;
}
.title img {
  width: 80px;
  margin-right: 10px;
}
figure {
  margin: 0;
}
figcaption {
  margin-top: 20px;
  width: 30%;
}
figure img {
width: 100%;
}

.content {
  margin: 120px 0 120px 33%;
}
.content a {
  margin: 0 30px;
  display: block;
  padding: 0;
}

/*----------------------------------
  Product Intro
-----------------------------------*/
.proteaser {
  width: 350px;
}
.productintro {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.procontainer {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.proimg {
  position: relative;
}
.proimg a{
  display: inline-block;
}
.proimg img {
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}
.proimg:hover img {
  opacity: 0.5;
}
.proimg h2 {
  bottom: 30px;
  position: absolute;
}

/*----------------------------------
  Manufaktur Intro
-----------------------------------*/

.manucontainer {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
}
.manuinfo {
  width: 50%;
  position: absolute;
  top: 120px;
  left: 0;
}
.manuinfo a {
  margin-left: 30px;
  border-bottom: solid 3px white;
  padding-bottom: 5px;
}

/*----------------------------------
  Vertrieb Intro
-----------------------------------*/

.vlogocont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
}
.vlogocont img {
  width: 250px;
}


/*----------------------------------
  Navigation
-----------------------------------*/

nav {
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 30px;
  transition: top 0.5s ease-in-out;
}
.navbar {
  width: 40px;
  display: inline-block;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}
.navbar img {
  float: left;  
  transition: padding-bottom 0.5s ease-in-out;
}
.navbar:hover {
  opacity: 0.75;
}
.nav {
  position: fixed;
  display: none;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100vh;
  background-color: var(--nalunsgreen);
  transition: background-color 0.5s ease-in-out;
}
.navcont {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}
.navcont ul {
  padding: 0;
  margin-left: 30px;
  width: 100%;
}

.navcont li a {
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
  transition: opacity 0.3s;
}

.navcont li a:hover {
  opacity: 1;
}

.spread {
 padding-bottom: 5px;
}

.images {
  display: flex;
  position: relative;
  width: 100%;
  height: 90vh;
  margin: 50px;
  justify-content: flex-start;
  align-items: center;
}

.image {
  width: 100%;
  height: 90vh;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 1s;
  opacity: 0;
}
.on {
  opacity: 1;
}

#index-image {background-image: url('img/index-image.jpg');}
#pizokel-image {background-image: url('img/pizokel-image.jpg');}
#vizokel-image {background-image: url('img/naluns-image.jpg');}
#spaetzli-image {background-image: url('img/pizokel-image.jpg');}
#manufaktur-image {background-image: url('img/naluns-image.jpg');}
#daniel-hiederer-image {background-image: url('img/naluns-image.jpg');}
#kontakt-image {background-image: url('img/pizokel-image.jpg');}



/*----------------------------------
  Manufaktur
-----------------------------------*/
.manuimgcont {
  margin: 120px 0;
}
.manuimgthree {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.manuimgthree img,
.manuimgone img{
  width: 100%;
}

/*----------------------------------
  Accordion
-----------------------------------*/

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  border-bottom: white 3px solid;
  font-size: var(--font-title);
  line-height: 1.1;
  margin-left: 33%;
  padding: 10px 30px;
  cursor: pointer;
  user-select: none;
  transition: padding 0.3s;
}

.accordion-header:hover {
  padding-bottom: 20px;
}

.accordion-content {
  display: none;
}

.accordion-flex {
  display: flex;
  margin-top: 30px;
}

.accordion-flex div {
  width: 100%;
}

.accordion-flex .tabs {
  margin-left: 33%;
}

.accordion-flex img {
  width: 100%;
  padding-right: 30px;
}

/*----------------------------------
  Footer
-----------------------------------*/

.footer {
  display: flex;
  z-index: 2;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  gap: 40px;
  margin: 50px auto;
  padding: 0 50px;
  max-width: 2000px;
}

.footer a {
  display: block;
} 

.footerlogo {
  width: 250px;
  transition: opacity 0.5s;
}
.footerinstagram {
  width: 50px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.footerinfo {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}
.footerinfo a {
  transition: opacity 0.5s;
}

.footerlogo:hover,
.footerinstagram:hover,
.footerinfo a:hover {
  opacity: 0.5;
}

/*----------------------------------
    Impressum Datenschutz
-----------------------------------*/
.datenschutz {
  margin-bottom: 150px;
}
.datenschutz h3 {
  margin: 40px 0 0;
}
.datenschutz li {
  padding: 10px 0;
}
/*----------------------------------
    Cookiebanner
-----------------------------------*/

#cookiebanner {
  position: fixed;
  bottom: -500px;
  right: 40px;
  border-radius: 5px;
  width: 420px;
  background-color: white;
  padding: 25px;
  z-index: 9999;
  transition: bottom 0.5s cubic-bezier(0.2, 0.8, 0.3, 2);
}

#cookiebanner p {
  color: var(--nalunsgreen);
  margin: 0;
  padding: 0;
}

#cookiebanner.visible {
  bottom: 40px;
}

#cookiebanner button {
  letter-spacing: 0;
  text-decoration: none;
  width: calc(50% - 5px); 
}

#declineBtn, #acceptBtn {
  border-radius: 5px;
  margin-top: 20px;
}

#declineBtn {
  padding: 10px 20px;
  border: 1px solid var(--nalunsgreen); 
  color: var(--nalunsgreen);
  background: none;
  opacity: 0.5;
}

#acceptBtn {
  border: none;
  padding: 10px 40px;
  background: var(--nalunsgreen);
  color: white;
  margin-right: 5px;
}

#acceptBtn:hover,
#declineBtn:hover {
  transition: opacity 0.5s ease-in-out;
  opacity: 0.75; ;
}


/*----------------------------------
  Responsiv
-----------------------------------*/


@media (max-width: 1100px) {
  :root {
    --font-big: 100px;
    --font-title: 50px;
    --font-text-big: 26px;
    --font-text-small: 19px;
  }
  h1, h2, p, figcaption {margin: 0 30px;}
  figcaption {margin-top: 20px;}

  /* header */
  header, section, .footer {padding: 0 30px;}
  header a {width: 360px;}
  .title img {width: 65px;}

  /* basic */
  .content {margin: 90px 0 90px 33%;}
  /* intro product */
  .productintro {gap: 20px;}
  .accordion-flex img {padding-right: 20px;}

  /* footer */
  .footer {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  .footerinfo {
    align-items: flex-start;
    gap: 0px;
    flex-direction: column;
  }
  .footerinfo a {
    padding-bottom: 5px;
  }
  .footerinstagram {
    margin-top: 20px;
  }
}

@media (max-width: 810px) {
  figcaption {width: calc(100% - 60px);}
  .content {margin: 60px 0 60px 0;}

  /* accordion */
  .accordion-header {margin-left: 0;}
  .accordion-flex {flex-direction: column; gap: 10px;}
  .accordion-flex img {padding-right: 0px;}

  /* product intro */
  .productintro {flex-direction: column;}
  
  /* manufaktur intro */
  .manucontainer {overflow: hidden; align-items: center;}
  .manucontainer img {width: 200%;}
  /* footer */
  footer{margin: 100px 30px 0;}
}


@media (max-width: 680px) {
  :root {
    --font-big: 80px;
    --font-title: 40px;
    --font-text-big: 24px;
    --font-text-small: 16px;
  }
  nav {top: 20px;right: 10px;}
  .images {display: none;}
  .navbar {width: 35px;}
  .navcont li a {opacity: 1; padding-bottom: 5px;}
  header {margin: 20px auto;}
  header, section, .footer {padding: 0 10px;}
  header a, .title {padding: 0 20px;}
  header a {width: 310px;}
  h1, h2, p, figcaption { margin: 0 20px;}
  figcaption {margin-top: 20px;}

  figure {
    display: flex;
    overflow: hidden;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  figure img {width: 150%;}
  .manuinfo {width: 100%;}
  .manuinfo a {margin-left: 20px;}
  .proteaser {width: 300px;}
  .vlogocont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 30px;
  }
  .content a {margin: 0 20px;}

  /* accordion */
  .accordion-header {padding: 10px 20px;}
  /* foooter */
  footer {margin: 100px 20px 0;}
  #cookiebanner {width: calc(100% - 40px); left: 20px;}
  #cookiebanner.visible {bottom: 30px;}
}